BEGIN;
--
-- Create model Cliente
--
CREATE TABLE "authentication_cliente" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "telefono" varchar(20) NOT NULL, "direccion" text NOT NULL, "dni" varchar(8) NOT NULL UNIQUE, "ingresos" numeric(10, 2) NOT NULL, "score_crediticio" integer NOT NULL, "estado" boolean NOT NULL, "usuario_id" integer NOT NULL UNIQUE);
ALTER TABLE "authentication_cliente" ADD CONSTRAINT "authentication_cliente_usuario_id_3147bdac_fk_auth_user_id" FOREIGN KEY ("usuario_id") REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "authentication_cliente_dni_4e44ffa3_like" ON "authentication_cliente" ("dni" varchar_pattern_ops);
COMMIT;
