BEGIN;
--
-- Create model CuentaAhorro
--
CREATE TABLE "ahorros_cuentaahorro" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "numero_cuenta" varchar(20) NOT NULL UNIQUE, "tipo_cuenta" varchar(50) NOT NULL, "saldo" numeric(12, 2) NOT NULL, "estado" varchar(20) NOT NULL, "fecha_creacion" timestamp with time zone NOT NULL, "cliente_id" bigint NOT NULL);
ALTER TABLE "ahorros_cuentaahorro" ADD CONSTRAINT "ahorros_cuentaahorro_cliente_id_d7a33d82_fk_authentic" FOREIGN KEY ("cliente_id") REFERENCES "authentication_cliente" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "ahorros_cuentaahorro_numero_cuenta_b5aac6c6_like" ON "ahorros_cuentaahorro" ("numero_cuenta" varchar_pattern_ops);
CREATE INDEX "ahorros_cuentaahorro_cliente_id_d7a33d82" ON "ahorros_cuentaahorro" ("cliente_id");
COMMIT;
