BEGIN;
--
-- Create model Credito
--
CREATE TABLE "creditos_credito" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "tipo_credito" varchar(100) NOT NULL, "monto" numeric(12, 2) NOT NULL, "cuotas" integer NOT NULL, "tasa_interes" numeric(5, 4) NOT NULL, "cuota_mensual" numeric(12, 2) NOT NULL, "saldo_pendiente" numeric(12, 2) NOT NULL, "cuotas_pagadas" integer NOT NULL, "estado" varchar(30) NOT NULL, "fecha_solicitud" timestamp with time zone NOT NULL, "cliente_id" bigint NOT NULL);
--
-- Create model PagoCuota
--
CREATE TABLE "creditos_pagocuota" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "numero_cuota" integer NOT NULL, "monto_pagado" numeric(12, 2) NOT NULL, "saldo_tras_pago" numeric(12, 2) NOT NULL, "fecha" timestamp with time zone NOT NULL, "credito_id" bigint NOT NULL);
ALTER TABLE "creditos_credito" ADD CONSTRAINT "creditos_credito_cliente_id_358c6420_fk_authentic" FOREIGN KEY ("cliente_id") REFERENCES "authentication_cliente" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "creditos_credito_cliente_id_358c6420" ON "creditos_credito" ("cliente_id");
ALTER TABLE "creditos_pagocuota" ADD CONSTRAINT "creditos_pagocuota_credito_id_03d7168b_fk_creditos_credito_id" FOREIGN KEY ("credito_id") REFERENCES "creditos_credito" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "creditos_pagocuota_credito_id_03d7168b" ON "creditos_pagocuota" ("credito_id");
COMMIT;
