BEGIN;
--
-- Add field tasa_interes to credito
--
ALTER TABLE "creditos_credito" ADD COLUMN "tasa_interes" numeric(5, 4) DEFAULT 0.18 NOT NULL;
ALTER TABLE "creditos_credito" ALTER COLUMN "tasa_interes" DROP DEFAULT;
--
-- Add field cuota_mensual to credito
--
ALTER TABLE "creditos_credito" ADD COLUMN "cuota_mensual" numeric(12, 2) DEFAULT 0 NOT NULL;
ALTER TABLE "creditos_credito" ALTER COLUMN "cuota_mensual" DROP DEFAULT;
--
-- Add field saldo_pendiente to credito
--
ALTER TABLE "creditos_credito" ADD COLUMN "saldo_pendiente" numeric(12, 2) DEFAULT 0 NOT NULL;
ALTER TABLE "creditos_credito" ALTER COLUMN "saldo_pendiente" DROP DEFAULT;
--
-- Add field cuotas_pagadas to credito
--
ALTER TABLE "creditos_credito" ADD COLUMN "cuotas_pagadas" integer DEFAULT 0 NOT NULL;
ALTER TABLE "creditos_credito" ALTER COLUMN "cuotas_pagadas" DROP DEFAULT;
--
-- Alter field estado on credito
--
-- (no-op)
--
-- Create model PagoCuota
--
CREATE TABLE "creditos_pagocuota" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "numero_cuota" integer NOT NULL, "monto_pagado" numeric(12, 2) NOT NULL, "saldo_tras_pago" numeric(12, 2) NOT NULL, "fecha" timestamp with time zone NOT NULL, "credito_id" bigint NOT NULL);
ALTER TABLE "creditos_pagocuota" ADD CONSTRAINT "creditos_pagocuota_credito_id_03d7168b_fk_creditos_credito_id" FOREIGN KEY ("credito_id") REFERENCES "creditos_credito" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "creditos_pagocuota_credito_id_03d7168b" ON "creditos_pagocuota" ("credito_id");
COMMIT;
