BEGIN;
--
-- Add field observaciones to credito
--
ALTER TABLE "creditos_credito" ADD COLUMN "observaciones" text DEFAULT '' NOT NULL;
ALTER TABLE "creditos_credito" ALTER COLUMN "observaciones" DROP DEFAULT;
--
-- Alter field estado on credito
--
-- (no-op)
COMMIT;
