BEGIN;
--
-- Alter field estado on credito
--
-- (no-op)
--
-- Create model HistorialAprobacion
--
CREATE TABLE "creditos_historialaprobacion" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "rol" varchar(20) NOT NULL, "fecha" timestamp with time zone NOT NULL, "observacion" text NOT NULL, "estado_anterior" varchar(30) NOT NULL, "estado_nuevo" varchar(30) NOT NULL, "credito_id" bigint NOT NULL, "usuario_id" integer NULL);
ALTER TABLE "creditos_historialaprobacion" ADD CONSTRAINT "creditos_historialap_credito_id_f5d656bc_fk_creditos_" FOREIGN KEY ("credito_id") REFERENCES "creditos_credito" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "creditos_historialaprobacion" ADD CONSTRAINT "creditos_historialap_usuario_id_9af57a1a_fk_auth_user" FOREIGN KEY ("usuario_id") REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "creditos_historialaprobacion_credito_id_f5d656bc" ON "creditos_historialaprobacion" ("credito_id");
CREATE INDEX "creditos_historialaprobacion_usuario_id_9af57a1a" ON "creditos_historialaprobacion" ("usuario_id");
COMMIT;
