BEGIN;
--
-- Create model Movimiento
--
CREATE TABLE "core_bancario_movimiento" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "tipo_operacion" varchar(50) NOT NULL, "monto" numeric(12, 2) NOT NULL, "saldo_resultante" numeric(12, 2) NOT NULL, "fecha" timestamp with time zone NOT NULL, "descripcion" varchar(255) NOT NULL, "cuenta_id" bigint NOT NULL);
--
-- Create model Notificacion
--
CREATE TABLE "core_bancario_notificacion" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "mensaje" text NOT NULL, "leida" boolean NOT NULL, "fecha" timestamp with time zone NOT NULL, "cliente_id" bigint NOT NULL);
ALTER TABLE "core_bancario_movimiento" ADD CONSTRAINT "core_bancario_movimi_cuenta_id_b780dca5_fk_ahorros_c" FOREIGN KEY ("cuenta_id") REFERENCES "ahorros_cuentaahorro" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "core_bancario_movimiento_cuenta_id_b780dca5" ON "core_bancario_movimiento" ("cuenta_id");
ALTER TABLE "core_bancario_notificacion" ADD CONSTRAINT "core_bancario_notifi_cliente_id_aafcb92b_fk_authentic" FOREIGN KEY ("cliente_id") REFERENCES "authentication_cliente" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "core_bancario_notificacion_cliente_id_aafcb92b" ON "core_bancario_notificacion" ("cliente_id");
COMMIT;
