BEGIN;
--
-- Create model Seguro
--
CREATE TABLE "seguros_seguro" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "tipo_seguro" varchar(50) NOT NULL, "prima_mensual" numeric(10, 2) NOT NULL, "cobertura" numeric(12, 2) NOT NULL, "estado" boolean NOT NULL, "fecha_inicio" date NOT NULL, "fecha_fin" date NULL, "cliente_id" bigint NOT NULL);
ALTER TABLE "seguros_seguro" ADD CONSTRAINT "seguros_seguro_cliente_id_6107d29b_fk_authentication_cliente_id" FOREIGN KEY ("cliente_id") REFERENCES "authentication_cliente" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "seguros_seguro_cliente_id_6107d29b" ON "seguros_seguro" ("cliente_id");
COMMIT;
